.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.top {
  width: 66%;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
  border: 1px grey solid;
  padding: .5em;
  border-radius: 4%;
  background-color: rgb(48, 59, 166); /* Material UI button color */
  color: white;
  font-family: 'Roboto', sans-serif;
}

.search {
  margin-bottom: 2em;
}

.newForm, .addNew {
  width: 66%;
  margin: auto;
  margin-bottom: 2em;
  text-align: center;
}